.logo-position {
  position: absolute;
  top: 5px;
  right: 5px;
}

.padding {
  padding: 10px;
}

.player-banner--size {
  height: 50%;
}

.logo-size {
  width: 10%;
  height: 10%;
}

.game-app--position {
  display: flex;
  flex-flow: column;
  height: 70%;
}

.game-content--position {
  margin: auto;
}

.dev-modal{
  display:none;
  position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.dev-modal-content{
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #888;
  width: 80%;
}

.dev-modal-close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.hidden-button {
  background: transparent;
  border: none;
  font-size: 0;
}
